* {
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: rgb(69, 69, 69);
    background-color: rgb(239, 241, 243);
    display: grid;
    grid-template-areas: "h h"
                         "main aside"
                         ". ."
                         "footer footer";
}

header{ grid-area: h;}
aside {grid-area: aside;}
main{grid-area: main;}
footer{grid-area: footer;}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

/* HEADER */

.site-header{
    padding: 56px 0 44px;
    color: white;
    background-color: rgb(10, 10, 56);
}

h1{
    margin-bottom: 12px;
    font-size: 52px;
    line-height: 1.2;
}
h2{
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 1.2;
}
h3{
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.2;
}

h1, h2, h2, p{
    margin-top: 0;
}

.subtitle{
    color:rgb(207, 207, 207);
    font-size: 20px;
}

.nav{
    margin-top: 26px;
}

.nav a{
    margin-right: 20px;
    font-size: 24px;
    color:white;
    text-decoration: none;
    font-weight: 700;
}

.nav a:hover{
    text-decoration: underline;
}

/* ОСНОВНОЙ КОНТЕНТ */

.page-content{
    padding-top: 40px;
    padding-bottom: 48px;
}

.section-card{
    background-color: white;
    padding: 32px;
    margin-bottom: 24px;
    border-radius: 14px;
    border: 1px solid rgb(232, 230, 230);
    box-shadow: 0 10px 24px rgb(207, 207, 207);
}

.card img{
    border-radius: 50%;
}

.card{
    margin-bottom: 16px;
    padding: 20px;
    background-color: rgb(229, 229, 229);
    border-radius: 14px;
    border-left: 5px solid rgb(70, 69, 69);
}

.card-prog{
    border: 2px solid black;
    padding: 20px;
}

.card-prog h3{
    background-color: rgb(229, 235, 230);
    padding: 8px 6px;
}

.pos{
    text-align: right;
}

.card-table{
    padding: 20px;
}

table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
table th, table td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

table th{
    background-color: rgb(229, 229, 229);
}

table tr:nth-child(even) td{
    background-color: rgb(229, 229, 229);
}

.notice{
    padding: 20px;
}

.site-footer{
    padding: 56px 44px;
    color: white;
    background-color: rgb(10, 10, 20);
    font-weight: 700;
}

.regist{
    padding: 60px 40px;
    margin: 0 auto;
    width: 50%;
}

.regist a{
    text-align: center;
    padding: 26px 40px;
    font-size: 40px;
    background-color:rgb(10, 10, 56);
    color: white;
    border-radius: 36px;
    text-decoration: none;
}

.regist a:hover{
    color:rgb(10, 10, 56);
    background-color: rgb(110, 110, 114);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}